USE [master]
GO
/****** Object:  Database [FMS]    Script Date: 2025-06-16 17:32:08 ******/
CREATE DATABASE [FMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FMS]
GO
/****** Object:  Table [dbo].[tblcart]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[RestaurentId] [int] NULL,
	[FoodId] [int] NULL,
	[Quantity] [int] NULL,
	[CreateOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcategory]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NULL,
	[CategoryType] [varchar](50) NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomerInfo]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomerInfo](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[GenId] [int] NOT NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Pincode] [varchar](50) NULL,
	[Email] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDeliveryPartners]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDeliveryPartners](
	[DEId] [int] IDENTITY(1,1) NOT NULL,
	[Genid] [int] NULL,
	[Name] [varchar](200) NULL,
	[Phone] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
	[DrivingLicence] [varchar](500) NULL,
	[Address] [varchar](400) NULL,
	[Pincode] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DEId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFoodCategory]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoodCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFoodItems]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoodItems](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[RestaurentId] [int] NULL,
	[FoodName] [varchar](100) NULL,
	[Description] [varchar](400) NULL,
	[Price] [decimal](10, 2) NULL,
	[ImageUrl] [varchar](200) NULL,
	[Quanity] [int] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderReview]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderReview](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Desctiption] [varchar](max) NULL,
	[FoodRating] [int] NULL,
	[DERating] [int] NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[RecordId] [int] NULL,
	[CustomerId] [int] NULL,
	[RestaurentId] [int] NULL,
	[FoodId] [int] NULL,
	[Quantity] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentMode] [varchar](50) NULL,
	[Status] [varchar](100) NULL,
	[DeliveryAddress] [varchar](400) NULL,
	[OderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderStatus]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[RecordId] [int] NULL,
	[DEId] [int] NULL,
	[RestaurentStatus] [varchar](200) NULL,
	[DEstatus] [varchar](200) NULL,
	[OverallStatus] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRestaurentInfo]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRestaurentInfo](
	[RestaurentId] [int] IDENTITY(1,1) NOT NULL,
	[GenId] [int] NOT NULL,
	[Phone] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Pincode] [varchar](50) NULL,
	[FoodLicenceNo] [varchar](50) NULL,
	[LogoUrl] [varchar](200) NULL,
	[Email] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestaurentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRolesMaster]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRolesMaster](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsersInfo]    Script Date: 2025-06-16 17:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsersInfo](
	[GenId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[RoleId] [int] NULL,
	[Status] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[GenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblcart]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tblCustomerInfo] ([CustomerId])
GO
ALTER TABLE [dbo].[tblcart]  WITH CHECK ADD FOREIGN KEY([FoodId])
REFERENCES [dbo].[tblFoodItems] ([FoodId])
GO
ALTER TABLE [dbo].[tblcart]  WITH CHECK ADD FOREIGN KEY([RestaurentId])
REFERENCES [dbo].[tblRestaurentInfo] ([RestaurentId])
GO
ALTER TABLE [dbo].[tblCustomerInfo]  WITH CHECK ADD FOREIGN KEY([GenId])
REFERENCES [dbo].[tblUsersInfo] ([GenId])
GO
ALTER TABLE [dbo].[tblDeliveryPartners]  WITH CHECK ADD FOREIGN KEY([Genid])
REFERENCES [dbo].[tblUsersInfo] ([GenId])
GO
ALTER TABLE [dbo].[tblFoodItems]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblcategory] ([CategoryId])
GO
ALTER TABLE [dbo].[tblOrderReview]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[tblOrders] ([OrderId])
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[tblCustomerInfo] ([CustomerId])
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD FOREIGN KEY([FoodId])
REFERENCES [dbo].[tblFoodItems] ([FoodId])
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD FOREIGN KEY([RestaurentId])
REFERENCES [dbo].[tblRestaurentInfo] ([RestaurentId])
GO
ALTER TABLE [dbo].[tblOrderStatus]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[tblOrders] ([OrderId])
GO
ALTER TABLE [dbo].[tblOrderStatus]  WITH CHECK ADD FOREIGN KEY([DEId])
REFERENCES [dbo].[tblDeliveryPartners] ([DEId])
GO
ALTER TABLE [dbo].[tblRestaurentInfo]  WITH CHECK ADD FOREIGN KEY([GenId])
REFERENCES [dbo].[tblUsersInfo] ([GenId])
GO
ALTER TABLE [dbo].[tblUsersInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRolesMaster] ([RoleId])
GO
USE [master]
GO
